.admin-layout {
  display: flex;
  flex: 1;
}

.admin-main {
  flex: 1;
  display: flex;
  flex-direction: column;

  .header {
    margin: 20px;
    display: flex;
    justify-content: space-between;
  }
}

.admin-content {
  display: flex;
  flex: 1;
  padding: 20px;
  background-color: rgb(246, 248, 250);
}

.admin-content-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.stats-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid;
  text-align: left;
}

.dashboard-header {
  text-align: left;
}

.dashboard-stats {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.recent-users {
  border: 2px solid;
  padding: 10px;
}

.recent-users-head {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}